# Ignore skins and plugins: they must be separated
plgs/*
skins/*
cfg/*
.devcontainer/host.env

# Except this files
!plgs/index.htm
!skins/index.htm
!cfg/index.htm


#force those paths to exists
!plgs/index.htm
!skins/index.htm


# eclipse project settings
.settings/
.buildpath
.project
